@model PrototypeMVCForm.Models.ProtocolFormModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pharmacology Animal Protocol Registration</h1>
<h5>Fill in the fields below with your protocol information.</h5>
<h5>You can save at any time and come back later to finish this process.</h5>
<h5>Clicking "Submit" will send your protocol details for approval, after which you will not be able to make changes.</h5>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="row">
        @Html.LabelFor(model => model.ProtocolTitle, "Protocol Title:")
        @Html.EditorFor(model => model.ProtocolTitle)
        @Html.ValidationMessageFor(model => model.ProtocolTitle)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.ProtocolOwnerName, "Protocol Owner Name:")
        @Html.EditorFor(model => model.ProtocolOwnerName)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.NumAnimals, "Number of animals in study:")
        @Html.EditorFor(model => model.NumAnimals)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.ProtocolBody, "Protocol Description:")
        @Html.TextAreaFor(model => model.ProtocolBody)
    </div>
    <div class="row">
        <input type="submit" value="submit" />
        <input type="reset" value="reset" />
        <input type="submit" value="save" />
    </div>

}